<div class="card" *ngIf="!loading">
  <p-toast/>
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p-button
        severity="success"
        label="Nuevo producto"
        icon="pi pi-plus"
        class="mr-2"
        (onClick)="openNew()"/>
    </ng-template>
  </p-toolbar>
  <p-table #dt
           [value]="products"
           [rows]="5"
           [paginator]="true"
           [tableStyle]="{ 'min-width': '75rem' }">

    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h3 class="m-0">Listado de productos</h3>
        <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)=onSearchChange($event)
                  placeholder="Buscar..."/>
            </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            (onClick)="editProduct(product.id)"/>
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (onClick)="deleteProduct(product)"/>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        En total hay {{ products ? products.length : 0 }} productos.
      </div>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="productDialog"
    [style]="{ width: '450px' }"
    header="Detalles del producto"
    [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="field">
        <label for="name">Nombre</label>
        <input
          type="text"
          pInputText
          id="name"
          [(ngModel)]="product.name"
          [required]="true"
          autofocus/>
        <small class="p-error" *ngIf="submitted && !product.name">
          El nombre es requerido.
        </small>
      </div>
      <div class="field">
        <label for="description">Descripción</label>
        <textarea
          id="description"
          pInputTextarea
          [(ngModel)]="product.description"
          required
          rows="3"
          cols="20">
                    </textarea>
      </div>
      <div class="formgrid grid">
        <div class="field col">
          <label for="price">Precio</label>
          <p-inputNumber
            id="price"
            [(ngModel)]="product.price"
            mode="currency"
            currency="USD"
            locale="en-US"/>
        </div>
        <br>
        <div class="field col">
          <label for="quantity">Cantidad</label>
          <p-inputNumber
            id="quantity"
            [(ngModel)]="product.quantity"/>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button
        label="Cancelar"
        icon="pi pi-times"
        [text]="true"
        (onClick)="hideDialog()"/>
      <p-button
        label="Guardar"
        icon="pi pi-check"
        [text]="true"
        (onClick)="saveProduct()"/>
    </ng-template>
  </p-dialog>
  <p-confirmDialog [style]="{ width: '450px' }"/>
</div>

<div *ngIf="loading" class="spinner-container">
  <p-progressSpinner
    styleClass="w-4rem h-4rem"
    strokeWidth="8"
    fill="var(--surface-ground)"
    animationDuration=".5s">
  </p-progressSpinner>
</div>

